# Airtel <-> OpenSIPS <-> Extension 1001
############################################


####### GLOBAL PARAMETERS ########

log_level=3
xlog_level=3

stderror_enabled=yes
syslog_enabled=yes
syslog_facility=LOG_LOCAL0

socket=udp:0.0.0.0:5060

advertised_address="13.200.0.183"
advertised_port=5060

alias="13.200.0.183"

mpath="/usr/lib/x86_64-linux-gnu/opensips/modules/"


############################################
####### MODULES ############################
############################################

loadmodule "proto_udp.so"
loadmodule "sl.so"
loadmodule "tm.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "sipmsgops.so"
loadmodule "dialog.so"
loadmodule "signaling.so"
loadmodule "uac.so"

# RTP
loadmodule "rtpengine.so"

# REGISTER / AUTH
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "auth.so"
loadmodule "auth_db.so"
loadmodule "db_mysql.so"


############################################
####### MODULE PARAMETERS ##################
############################################

modparam("rr", "append_fromtag", 1)

# DIALOG

# RTPENGINE
modparam(
    "rtpengine",
    "rtpengine_sock",
    "udp:127.0.0.1:2223"
)

# AUTH DB
modparam(
    "auth_db",
    "db_url",
    "mysql://opensips:opensips123@localhost/opensips"
)

modparam("auth_db", "calculate_ha1", yes)
modparam("auth_db", "password_column", "password")

# REGISTRAR
modparam("registrar", "default_expires", 3600)
modparam("registrar", "max_expires", 7200)


############################################
####### ROUTES #############################
############################################


# ==============================
# PANI HEADER
# ==============================
route[PANI_FORCE] {

    remove_hf("P-Access-Network-Info");

    append_hf(
        "P-Access-Network-Info: 3GPP-WLAN;network-provided;UE-local-IP-address=13.200.0.183;UDP-source-port=5060\r\n"
    );
}


# ==============================
# RELAY
# ==============================
route[RELAY] {

    if (!t_relay()) {

        xlog(
            "L_ERR",
            "Relay failed for $rm\n"
        );

        sl_reply_error();
    }

    exit;
}


# ==============================
# TO AIRTEL
# ==============================
route[TO_AIRTEL] {

    xlog(
        "L_INFO",
        "OUTBOUND TO AIRTEL: $fU -> $rU\n"
    );
    

    route(PANI_FORCE);


    # Normalize Number
    if ($rU =~ "^[0-9]{10}$") {

        $rU = "+91" + $rU;
    }

      
    # REMOVE OLD ROUTES
    remove_hf("Route");
 
    # AIRTEL DESTINATION
    $ru =
        "sip:" + $rU +
        "@203.132.128.28:5066;user=phone";

    # FIX FROM
    uac_replace_from(
        "\"+918956778471\"",
        "sip:+918956778471@13.200.0.183:5060;user=phone"
    );
    # FIX TO HEADER
remove_hf("To");

append_hf("To: <sip:$rU@13.200.0.183:5060;user=phone>\r\n"); 
    # PAI
    remove_hf("P-Asserted-Identity");

    append_hf(
        "P-Asserted-Identity: <sip:+918956778471@13.200.0.183:5060;user=phone>\r\n"
    );


    # SUPPORTED
    remove_hf("Supported");

    append_hf(
        "Supported: replaces,histinfo,eventlist,norefersub,100rel\r\n"
    );


    # RTPENGINE OFFER
    if (has_body("application/sdp")) {

        rtpengine_offer(
            "replace-origin replace-session-connection ICE=remove trust-address symmetric RTP/AVP codec-strip-all codec-offer-PCMA codec-offer-telephone-event media-address=13.200.0.183"
        );
    }


    # REMOVE CLIENT VIA HEADERS
    remove_hf_re("Via");

    # HANDLE EARLY MEDIA / SDP REPLIES
    t_on_reply("MANAGE_REPLY");

    route(RELAY);
}


# ==============================
# REPLY ROUTE
# ==============================
onreply_route[MANAGE_REPLY] {

    # EARLY MEDIA SUPPORT
    if ($rs =~ "180|183") {

        xlog(
            "L_INFO",
            "EARLY MEDIA RESPONSE RECEIVED: $rs\n"
        );
    }

    # ADD PANI IN 200 OK
    if ($rs == "200") {
	append_hf(
    "P-Access-Network-Info: 3GPP-WLAN;network-provided;UE-local-IP-address=13.200.0.183;UDP-source-port=5060\r\n");
    }

    if (has_body("application/sdp")) {

        rtpengine_answer(
            "replace-origin replace-session-connection ICE=remove trust-address symmetric RTP/AVP codec-strip-all codec-offer-PCMA codec-offer-telephone-event media-address=13.200.0.183"
        );
    }
}

############################################
####### MAIN ROUTE #########################
############################################

route {

    xlog(
        "L_INFO",
        "REQ: $rm FROM $si:$sp TO $ru\n"
    );


    # MAX FORWARDS
    if (!mf_process_maxfwd_header(10)) {

        sl_send_reply(
            483,
            "Too Many Hops"
        );

        exit;
    }


    # ==============================
# PRACK
# ==============================
if (is_method("PRACK")) {

    xlog(
        "L_INFO",
        "PRACK RELAY [$ci]\n"
    );

    if (!t_relay()) {

        sl_reply_error();
    }

    exit;
}	   

    # ==============================
    # IN-DIALOG
    # ==============================
    if (has_totag()) {

        xlog(
            "L_INFO",
            "IN-DIALOG $rm [$ci]\n"
        );

            if (loose_route()) {
	    # ADD PANI IN BYE
            if (is_method("BYE")) {

                route(PANI_FORCE);
            }

            route(RELAY);

            exit;
        }

        # ACK
        if (is_method("ACK")) {

            if (t_check_trans()) {

                t_relay();
            }

            exit;
        }

        sl_send_reply(
            404,
            "Not here"
        );

        exit;
    }


    # ==============================
    # OPTIONS
    # ==============================
    if (is_method("OPTIONS")) {
       route(PANI_FORCE);
	append_hf(
        "Allow: INVITE, ACK, CANCEL, OPTIONS, BYE, REFER, NOTIFY, MESSAGE, SUBSCRIBE, INFO, PRACK, UPDATE\r\n"
    );
        sl_send_reply(
            200,
            "OK"
        );

        exit;
    }


    # ==============================
    # REGISTER
    # ==============================
    if (is_method("REGISTER")) {

        xlog(
            "L_INFO",
            "REGISTER from $si user=$tu\n"
        );

        if (!www_authorize("", "subscriber")) {

            www_challenge("", "auth");

            exit;
        }

        if (!save("location")) {

            sl_reply_error();

            exit;
        }

        xlog(
            "L_INFO",
            "REGISTER SUCCESS user=$tu\n"
        );

        exit;
    }


    # ==============================
    # CANCEL
    # ==============================
    if (is_method("CANCEL")) {

        if (t_check_trans()) {

            t_relay();
        }

        exit;
    }


    # ==============================
    # INBOUND : AIRTEL -> 1001
    # ==============================
    if (is_method("INVITE") &&
        $si == "203.132.128.28") {

        xlog(
            "L_INFO",
            "INBOUND FROM AIRTEL\n"
        );

        route(PANI_FORCE);

        # FORCE DESTINATION USER
        $ru = "sip:1001@13.200.0.183";
        xlog(
            "L_INFO",
            "LOOKUP FOR 1001\n"
        );

        if (!lookup("location")) {

            xlog(
                "L_ERR",
                "1001 NOT REGISTERED\n"
            );

            sl_send_reply(
                404,
                "1001 Not Registered"
            );

            exit;
        }

        if (has_body("application/sdp")) {

            rtpengine_offer(
                "replace-origin replace-session-connection ICE=remove RTP/AVP trust-address symmetric media-address=13.200.0.183"
            );
        }
        t_on_reply("MANAGE_REPLY");

        route(RELAY);

        exit;
    }


    # ==============================
    # OUTBOUND : 1001 -> AIRTEL
    # ==============================
    if (is_method("INVITE") &&
        !has_totag() &&
        $fU == "1001") {


        route(TO_AIRTEL);

        exit;
    }


    # ==============================
    # DEFAULT
    # ==============================
    sl_send_reply(
        404,
        "Not Found"
    );
}
